# Day 15: UberPool Driver Earnings Optimisation Strategies

You are a Business Analyst on the Uber Pool Product Team working to optimize driver compensation. The team aims to understand how trip characteristics impact driver earnings. Your goal is to develop data-driven recommendations that maximize driver earnings potential.

In [12]:
import pandas as pd
import numpy as np

fct_trips_data = [
  {
    "trip_id": 101,
    "driver_id": 1,
    "ride_type": "UberPool",
    "trip_date": "2024-07-05",
    "rider_count": 3,
    "total_distance": 10.5,
    "total_earnings": 22.5
  },
  {
    "trip_id": 102,
    "driver_id": 1,
    "ride_type": "UberPool",
    "trip_date": "2024-07-15",
    "rider_count": 2,
    "total_distance": 8,
    "total_earnings": 18
  },
  {
    "trip_id": 103,
    "driver_id": 2,
    "ride_type": "UberPool",
    "trip_date": "2024-08-10",
    "rider_count": 4,
    "total_distance": 15,
    "total_earnings": 35
  },
  {
    "trip_id": 104,
    "driver_id": 3,
    "ride_type": "UberX",
    "trip_date": "2024-07-20",
    "rider_count": 1,
    "total_distance": 5,
    "total_earnings": 12
  },
  {
    "trip_id": 105,
    "driver_id": 2,
    "ride_type": "UberPool",
    "trip_date": "2024-09-01",
    "rider_count": 3,
    "total_distance": 12,
    "total_earnings": 30
  },
  {
    "trip_id": 106,
    "driver_id": 4,
    "ride_type": "UberPool",
    "trip_date": "2024-09-15",
    "rider_count": 5,
    "total_distance": 20,
    "total_earnings": 50
  },
  {
    "trip_id": 107,
    "driver_id": 4,
    "ride_type": "UberPool",
    "trip_date": "2024-10-01",
    "rider_count": 3,
    "total_distance": 9,
    "total_earnings": 25
  },
  {
    "trip_id": 108,
    "driver_id": 5,
    "ride_type": "UberPool",
    "trip_date": "2024-08-25",
    "rider_count": 4,
    "total_distance": 11,
    "total_earnings": 28
  },
  {
    "trip_id": 109,
    "driver_id": 1,
    "ride_type": "UberPool",
    "trip_date": "2024-09-30",
    "rider_count": 3,
    "total_distance": 6,
    "total_earnings": 16
  },
  {
    "trip_id": 110,
    "driver_id": 2,
    "ride_type": "UberPool",
    "trip_date": "2024-07-07",
    "rider_count": 2,
    "total_distance": 7,
    "total_earnings": 15
  },
  {
    "trip_id": 111,
    "driver_id": 3,
    "ride_type": "UberPool",
    "trip_date": "2024-08-05",
    "rider_count": 4,
    "total_distance": 13,
    "total_earnings": 32
  },
  {
    "trip_id": 112,
    "driver_id": 5,
    "ride_type": "UberX",
    "trip_date": "2024-09-10",
    "rider_count": 1,
    "total_distance": 4,
    "total_earnings": 10
  },
  {
    "trip_id": 113,
    "driver_id": 6,
    "ride_type": "UberPool",
    "trip_date": "2024-07-30",
    "rider_count": 3,
    "total_distance": 22,
    "total_earnings": 45
  },
  {
    "trip_id": 114,
    "driver_id": 6,
    "ride_type": "UberPool",
    "trip_date": "2024-08-22",
    "rider_count": 4,
    "total_distance": 18,
    "total_earnings": 42
  },
  {
    "trip_id": 115,
    "driver_id": 7,
    "ride_type": "UberPool",
    "trip_date": "2024-09-21",
    "rider_count": 5,
    "total_distance": 25,
    "total_earnings": 60
  }
]
fct_trips = pd.DataFrame(fct_trips_data)

In [13]:
fct_trips
#Table: fct_trips  
#Columns and datatype:  
#(trip_id: integer, driver_id: integer, rider_count: integer, trip_date: date, total_distance: decimal, total_earnings: decimal, ride_type: string)

,trip_id,driver_id,ride_type,trip_date,rider_count,total_distance,total_earnings
0,101,1,UberPool,2024-07-05,3,10.5,22.5
1,102,1,UberPool,2024-07-15,2,8.0,18.0
2,103,2,UberPool,2024-08-10,4,15.0,35.0
3,104,3,UberX,2024-07-20,1,5.0,12.0
4,105,2,UberPool,2024-09-01,3,12.0,30.0
5,106,4,UberPool,2024-09-15,5,20.0,50.0
6,107,4,UberPool,2024-10-01,3,9.0,25.0
7,108,5,UberPool,2024-08-25,4,11.0,28.0
8,109,1,UberPool,2024-09-30,3,6.0,16.0
9,110,2,UberPool,2024-07-07,2,7.0,15.0
10,111,3,UberPool,2024-08-05,4,13.0,32.0
11,112,5,UberX,2024-09-10,1,4.0,10.0
12,113,6,UberPool,2024-07-30,3,22.0,45.0
13,114,6,UberPool,2024-08-22,4,18.0,42.0
14,115,7,UberPool,2024-09-21,5,25.0,60.0

## Question 1

What is the average driver earnings per completed UberPool ride with more than two riders between July 1st and September 30th, 2024? This analysis will help isolate trips that meet specific rider thresholds to understand their impact on driver earnings.

In [ ]:
# Filterg for date and conditions
result = fct_trips.query(
    "ride_type == 'UberPool' and rider_count > 2 and trip_date >= '2024-07-01' and trip_date <= '2024-09-30'"
)

# It calculates the average earnings per trip
avg_earnings = result['total_earnings'].mean()

print(avg_earnings)

36.05

## Question 2

For completed UberPool rides between July 1st and September 30th, 2024, derive a new column calculating earnings per mile (total_earnings divided by total_distance) and then compute the average earnings per mile for rides with more than two riders. This calculation will reveal efficiency metrics for driver compensation.

In [ ]:
# Filterg for data and conditions
filtered = fct_trips.query("ride_type == 'UberPool' and rider_count > 2 and trip_date >= '2024-07-01' and trip_date <= '2024-09-30'")

# Earnings per mile
filtered = filtered.assign(earnings_per_mile = filtered['total_earnings'] / filtered['total_distance'])

# Average of earnings per mile
avg_earnings_per_mile = filtered['earnings_per_mile'].mean()

# Result
final_df = pd.DataFrame({'avg_earnings_per_mile': [avg_earnings_per_mile]})

print(final_df)

   avg_earnings_per_mile
0               2.392864

## Question 3

Identify the combination of rider count and total distance that results in the highest average driver earnings per UberPool ride between July 1st and September 30th, 2024. This analysis directly recommends optimal trip combination strategies to maximize driver earnings.

In [16]:
# Filtering
filtered = fct_trips.query("ride_type == 'UberPool' and trip_date >= '2024-07-01' and trip_date <= '2024-09-30'")

# Grouping by rider_count and total_distance, then calculate average earnings
grouped = (filtered.groupby(['rider_count', 'total_distance'], as_index=False)['total_earnings'].mean().rename(columns={'total_earnings': 'avg_earnings'}))

# It finds the combination with highest average earnings
max_combo = grouped.sort_values('avg_earnings', ascending=False).head(1)

print(max_combo)

    rider_count  total_distance  avg_earnings
11            5            25.0          60.0

Made with ❤️ by [Interview Master](https://www.interviewmaster.ai)